<turbo-frame id=<%= dom_id(@event)%> class="blog">
    <h2> <%= @event.title %> </h2>
    <p>starts at: <%= @event.starts_at.strftime("%B %d %Y - %A, %l:%M %P") %> </p>
    <p>venue: <%= @event.location %> </p>
    <hr>
    <p> <%= @event.body %> </p>
    <div class="options">
        <%= link_to "Close", events_path%>
        <%= link_to "Attenders", attendee_path(@event)%>
        <% if current_user.id == @event.user.id %>
            <%= link_to "Edit", edit_event_path(@event)%>
            <%= link_to "Delete", event_path(@event), data: {turbo_method: :delete}%>
            <%= link_to "Invite", new_event_invite_path(@event)%>
        <% end %>
        <% if @event.attenders.include?(current_user) %>
            <%= link_to "Leave", delete_attendee_path(@event.id, current_user.id), data: {turbo_method: :delete} %>
        <% end %>
    </div>
</turbo-frame>